<footer class="py-2 text-black mt-5"style="background: blanchedalmond" >
  <div  class="container-fluid">

    <div class="row mt-4" style="color: black">
      <div class="col-lg-3">
        <div class="row"><h5>THÔNG TIN</h5></div>
        <div class="row"><p class="nav-item mb-2">Địa chỉ: Liên Chiểu, Đà Nẵng</p>
        </div>
        <div class="row"><p class="nav-item mb-2">Điện thoại: 090123458</p>
        </div>
        <div class="row"><p class="nav-item mb-2">Email: fashion@gmail.com</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row"> <h5>DANH MỤC </h5></div>
        <div class="row"><p class="nav-item mb-2">Quần áo mùa xuân</p>
        </div>
        <div class="row"> <p class="nav-item mb-2">Quần áo mùa hạ</p></div>
        <div class="row"> <p class="nav-item mb-2">Quần áo mùa thu</p></div>
        <div class="row"> <p class="nav-item mb-2">Quần áo mùa đông</p></div>

      </div>
      <div class="col-lg-3">
        <div class="row"><h5>LIÊN KẾT</h5></div>
        <div class="row"> <p class="nav-item mb-2">Sản phẩm mới nhập</p></div>
        <div class="row"><p class="nav-item mb-2">Sản phẩm hot nhất</p> </div>
        <div class="row"><p class="nav-item mb-2">Sản phẩm dừng nhập</p> </div>
        <div class="row">   <p class="nav-item mb-2">Sản phẩm giảm giá</p>
        </div>

      </div>
      <div class="col-lg-3">

        <form>
          <h5>NHẬN BẢNG TIN</h5>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Địa chỉ email</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row mt-4" style="text-align: center" >
      <h4 >© fashion 2023 Store, Inc. All rights reserved.</h4>
    </div>
  </div>
</footer>
