<div id="login-box">
  <div class="left">
    <h1>Đăng nhập</h1>

    <input type="text" name="username" placeholder="Username"/>
    <input type="password" name="password" placeholder="Password"/>
    <input type="submit" name="signup_submit" value="Đăng nhập"/>
    <p>Bạn chưa có tài khoản ? Hãy</p>
    <input type="submit" name="signup_submit" value="Đăng ký"/>
  </div>

  <div class="right">
    <span class="loginwith">Đăng nhập với<br/>mạng xã hội</span>

    <button class="social-signin facebook">Đăng nhập với facebook</button>
    <button class="social-signin google">Đăng nhập với Google+</button>
  </div>
  <div class="or">OR</div>
</div>
